@media (min-width: 769px) {

  :root {
    --primary-color: #333;
    --secondary-color: #f0f0f0;
  }


  /* UserRegister Page */

  .Column-Container {
    display: flex;
    width: 75vw;
    flex-direction: column;
    border: none;
    justify-content: space-between;
    align-items: center;
    font-family: Cursive, 'Times New Roman';
  }

  .Column-1 {
    display: flex;
    width: 45vw;
    justify-content: space-between;
    align-content: flex-start;
  }

  .Column-2 {
    display: flex;
    width: 45vw;
    justify-content: space-between;
  }

  .personal-information {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 20px;
    color: silver;
    border: solid silver 5px;
  }

  .contact-information {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 20px;
    color: silver;
    border: solid silver 5px;
  }

  .education-information {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 20px;
    color: silver;
    border: solid silver 5px;
  }

  .account-information {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 20px;
    color: silver;
    border: solid silver 5px;
  }

  .RegisterLegend {
    color: white;
    font-weight: bold;
    font-size: 25px;
    font-family: cursive, Times New Roman;
  }

  .RegisterLabel {
    color: white;
    font-family: cursive, Times New Roman;
    font-weight: bold;
  }

  .RegisterInput {
    background-color: black;
    color: silver;
    font-weight: bold;
    border: solid silver 3px;
  }



  /* App Mains */
  .App-header {
    display: flex;
    justify-content: flex-end;
  }

  .nav {
    list-style: none;
  }

  .nav-menu {
    width: auto;
    margin-right: 2%;
    color: white;
    background: none;
    border: none;
    bottom: 0;
    left: 0;
  }

  .nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  /* Additions for the hamburger menu */
  .App {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    background-color: black;
    border-top: none;
  }

  .navLink.hidden {
    display: none;
  }

  .navLink {
    color: white;
    font-family: Cursive, Times New Roman;
    text-decoration: none;
    font-size: 30px;
    padding: 3px;
  }

  .newUserForm {
    color: white;
    padding-top: 0px;
    margin-top: 0;
  }

  #username_or_email.username_or_email {
    width: 60%;
    border: solid black 2px;
    background-color: silver;
    color: blue;
    font-weight: bold;
    font-size: 20px;
    font-family: Times New Roman;
  }

  .username_or_email {
    display: flex;
  }

  #username_or_email.username_or_email:active {
    background-color: black;
  }


  .passwordLogin {
    border: solid black 2px;
    background-color: silver;
  }

  #password.password {
    width: 60%;
    border: solid black 2px;
    background-color: silver;
    color: blue;
    font-weight: bold;
    font-size: 20px;
    font-family: Times New Roman;
  }

  #password.password:active {
    background-color: black;
  }

  .navLinks {
    color: white;
    text-decoration: none;
    font-size: 15px;
  }

  .navLinks:hover {
    align-self: center;
    text-decoration: underline;
    color: rgb(38, 38, 254);
    font-style: italic;
  }

  .closeNavButton {
    background-color: grey;
    position: fixed;
    border: solid silver 2px;
    border-radius: 25%;
    font-size: 25px;
    cursor: pointer;
    color: white;
    outline: none;
    margin: 1%;
    padding-top: 0px;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .closeNavButton:hover {
    background-color: blue;
    color: white;
    border: solid white 2px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  html {
    scroll-behavior: smooth;
    background-color: black;
    border-top: none;
  }

  .App-body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .hamburger-btn {
    background-color: grey;
    position: fixed;
    border: solid silver 3px;
    border-radius: 25%;
    font-size: 35px;
    cursor: pointer;
    color: white;
    outline: none;
    margin: 1%;
    padding-top: 0px;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .hamburger-btn:hover {
    transform: scale(1.0);
    color: white;
    background-color: blue;
    border: solid white 3px;
  }

  .backToTop {
    display: block;
    border: solid red 2px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
  }

  .PageTitle {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    color: white;
  }


  .UserLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border: solid silver 5px;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 25%;
    height: 25vh;
  }

  .rememberMe {
    display: flex;
    font-size: 14px;
    flex-direction: column;
    align-self: center;
  }

  .rememberMe:hover {
    align-self: center;
    transform: scale(1.2);
  }

  input.rememberme.rememberme:hover {
    transform: scale(1.5);
    cursor: pointer;
  }

  .mailTo {
    text-decoration: none;
    font-size: 13px;
    color: grey;
  }

  .mailTo:hover {
    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
  }

  .ShowPassword {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    color: rgb(45, 102, 247);
    text-decoration: underline;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    font-family: Cursive;
    padding: 0;
  }

  .ShowPassword:hover {
    color: white;
    font-style: italic;


  }

  .ShowPswCb:hover {
  transform: scale(1.1);
  cursor: pointer;
  }

  .ForgotPsw {
    display: flex;
    justify-content: center;
    font-size: 13px;
    color: white;
    font-weight: bold;
  }

  /* login and create account buttons here */
  .Login-Register {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
  }

  #Login.login {
    width: 100%;
    height: 100%;
    background-color: black;
    border: solid grey 2px;
    padding: 13px;
    margin-top: 0;
    font-weight: bold;
    border-radius: 10px;
    font-size: 15px;
    color: silver;
  }

  #Login.login:hover {
    background-color: grey;
    color: blue;
    font-size: 16px;
    border: solid white 3px;
    font-style: italic;
    cursor: pointer;
  }

  .registerButton {
    width: 100%;
    height: 100%;
    background-color: black;
    border: solid grey 2px;
    padding: 13px;
    margin-top: 0;
    font-weight: bold;
    border-radius: 10px;
    font-size: 15px;
    color: silver;
  }

  .registerButton:hover {
    background-color: grey;
    color: blue;
    font-size: 16px;
    border: solid white 3px;
    font-style: italic;
    cursor: pointer;
  }

  .ForgotPsw:hover {
    color: gold;
    font-style: italic;
    cursor: pointer;
    font-size: 16px;
  }

}

/* MOBILE BEGINS HERE----------------------------------------------------------------------------------------------------------------- */
@media (max-width: 768px) {
  .App {
    text-align: center;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  .App-body {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }

}