/* This is the sign in page styling */

@media (min-width: 769px) {

  /* Additions for the hamburger menu */
  .App {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    background-color: black;
    border-top: none;
  }

  .navLinks {
    display: flex;
    width: 50%;
    height: 7.5%;
    justify-content: flex-start;
    padding-left: 1%;
  }

  .navLinks.hidden {
    display: none;
  }

  .navLinks>a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
  }

  #username_or_email.username_or_email {
    width: 60%;
    border: solid black 2px;
    background-color: silver;
    color: blue;
    font-weight: bold;
    font-size: 20px;
    font-family: Times New Roman;
  }

  .username_or_email {
    display: flex;
  }

  #username_or_email.username_or_email:active {
    background-color: black;
  }

  .Password {
    display: flex;
  }

  #Password.Password {
    width: 60%;
    border: solid black 2px;
    background-color: silver;
    color: blue;
    font-weight: bold;
    font-size: 20px;
    font-family: Times New Roman;
  }

  #Password.Password:active {
    background-color: black;
  }

  .password {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 14px;
  }

  .navLinks>a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
  }

  .navLinks>a:hover {
    align-self: center;
    text-decoration: underline;
    color: rgb(38, 38, 254);
    font-style: italic;
  }

  .closeNavButton {
    background: none;
    position: fixed;
    border: solid white 3px;
    border-radius: 25%;
    font-size: 35px;
    cursor: pointer;
    color: white;
    outline: none;
    margin: 1%;
    padding-top: 0px;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .closeNavButton:hover {
    background-color: black;
    color: #39ff14;
    border: solid white 2px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  html {
    scroll-behavior: smooth;
    background-color: black;
    border-top: none;
  }

  .App-body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-header {
    display: flex;
    flex-direction: column;
    font-size: extra-large;
    background-color: black;
    color: white;
    margin: 0;
    width: 100%;
  }


  .header-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: silver;
    margin-top: 0;
    padding-right: 0.7%;
    height: 10vh;
    border-bottom: solid grey 3px;
    border-top: solid grey 3px;
  }


  .hamburger-btn {
    background-color: grey;
    position: fixed;
    border: solid silver 3px;
    border-radius: 25%;
    font-size: 35px;
    cursor: pointer;
    color: blue;
    outline: none;
    margin: 1%;
    padding-top: 0px;
    top: 0;
    left: 0;
    z-index: 0;
  }


  .hamburger-btn:hover {
    transform: scale(1.0);
    color: white;
    background-color: blue;
    border: solid white 3px;
  }

  .backToTop {
    display: block;
    border: solid red 2px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
  }

  .PageTitle {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    color: white;
  }


  .UserLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: grey;
    border: solid silver 5px;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 25%;
    height: 25vh;
  }

  .rememberMe {
    display: flex;
    font-size: 14px;
    flex-direction: column;
    align-self: center;
  }

  .rememberMe:hover {
    align-self: center;
    transform: scale(1.2);
  }

  input.rememberme.rememberme:hover {
    transform: scale(1.5);
    cursor: pointer;
  }

  .mailTo {
    text-decoration: none;
    font-size: 13px;
    color: grey;
  }

  .mailTo:hover {
    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
  }

  .ShowPsw {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: black;
    font-size: 14px;
    cursor: pointer;
    margin-top: 2vh;
  }

  .ShowPsw:hover {
    align-self: center;
    transform: scale(1.2);
  }

  .ShowPswCb {
    align-self: center;
    transform: scale(1.2);
  }

  .ShowPswCb:hover {
    transform: scale(1.5);
    cursor: pointer;
  }

  .ForgotPsw {
    display: flex;
    justify-content: center;
    font-size: 13px;
    color: white;
    font-weight: bold;
  }

  /* login and create account buttons here */
  .Login-Register {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
  }

  #Login.login {
    width: 100%;
    height: 100%;
    background-color: black;
    border: solid grey 2px;
    padding: 13px;
    margin-top: 0;
    font-weight: bold;
    border-radius: 10px;
    font-size: 15px;
    color: silver;
  }

  #Login.login:hover {
    background-color: grey;
    color: blue;
    font-size: 16px;
    border: solid white 3px;
    font-style: italic;
    cursor: pointer;
  }

  #register.register {
    width: 100%;
    height: 100%;
    background-color: black;
    font-weight: bold;
    border-radius: 10px;
    border: solid grey 2px;
    font-size: 15px;
    color: silver;
    padding: 12px;
  }

  #register.register:hover {
    background-color: grey;
    color: blue;
    font-size: 16px;
    border: solid white 3px;
    font-style: italic;
    cursor: pointer;
  }

  .ForgotPsw:hover {
    color: gold;
    font-style: italic;
    cursor: pointer;
    font-size: 16px;
  }

}

/* MOBILE BEGINS HERE----------------------------------------------------------------------------------------------------------------- */
@media (max-width: 768px) {
  .App {
    text-align: center;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  .App-body {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }

}